// main.scss
@use 'base' as *;
@use 'layout' as *;
@use 'components' as *;
@use 'utils' as *;

// ここからプロジェクト用CSS
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-black {
  font-family: $main-en;
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: $main-ja;
  font-size: $font-size-base;
  line-height: 1.6;
  background: #f8f8f8;
  color: #333;
  height: 100vh;
  @include sp {
    font-size: r(14);
  }
}

.contentMaxInner {
  max-width: 1000px;
  width: 90%;
  margin-inline: auto;
}

.portal {
  position: relative;
  text-align: center;
  h1,
  h2 {
    font-family: $main-en;
    font-weight: 900;
    font-style: normal;
    color: $primary-color;
  }

  .inner + .inner {
    margin-top: 80px;
    @include sp {
      margin-top: 60px;
    }
  }

  .heading_01 {
    position: relative;
    width: 100%;
    padding-top: 100px;
    margin-bottom: 40px;
    font-size: r(64);
    line-height: 1.2;

    @include flex(center, center, column);

    @include sp {
      padding-top: 80px;
      margin-bottom: 20px;
      font-size: r(56);
      gap: 4px;
    }

    span {
      font-weight: $fw-r;
      font-size: 0.3em;
    }
  }
  .heading_01--ja {
    font-family: $main-ja;
    position: relative;
    width: 100%;
    padding-top: 100px;
    margin-bottom: 40px;
    font-size: r(64);
    line-height: 1.2;

    @include flex(center, center, column);

    @include sp {
      padding-top: 80px;
      margin-bottom: 20px;
      font-size: r(56);
      gap: 4px;
    }

    span {
      font-weight: $fw-r;
      font-size: 0.3em;
    }
  }

  .heading_02 {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 60px;
    font-size: r(40);
    letter-spacing: 0.08em;
    text-align: center;

    @include sp {
      margin-bottom: 40px;
      font-size: r(28);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 8px;
      background: $primary-color;
      border-radius: 8px;
      @include sp {
        width: 24px;
        height: 6px;
      }
    }
  }

  .heading_03 {
    margin-bottom: 30px;
    font-size: r(18);
    letter-spacing: 0.04em;
    line-height: 1.4;
    text-align: center;
    font-weight: $fw-b;
    @include sp {
      margin-bottom: 30px;
      font-size: r(16);
    }
  }

  .heading_03--green {
    font-weight: $fw-b;
    font-size: r(18);
    margin-bottom: 30px;

    @include sp {
      font-size: r(16);
    }
  }

  .heading_04 {
    color: $primary-color;
    font-weight: $fw-b;
    margin-bottom: 16px;
  }

  ul + h4 {
    margin-top: 40px;
  }

  .tac {
    text-align: center;
  }

  .linktext {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
  .label {
    background: $primary-color;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: $fw-m;
    font-size: 0.8em;
  }

  .hero {
    width: 90%;
    max-width: 744px;
    margin-inline: auto;
    padding-block: 80px;
    text-align: center;

    @include sp {
    }
  }

  .lead {
    line-height: 2em;
    letter-spacing: 0.04em;
    font-weight: 500;
    @include sp {
      text-align: left;
    }
  }

  .main {
    padding-bottom: 120px;
  }

  .myworks{
    &__list{
      margin-top: 2rem;
    }
  }

  // .section {
  //   width: 90%;
  //   max-width: 960px;
  //   padding: 30px 40px 80px;
  //   margin-inline: auto;
  //   margin-top: 120px;
  //   background: #fff;
  //   border-radius: 24px;
  //   box-shadow: var(--boxshadow);
  //   @include sp {
  //     padding: 30px 20px 60px;
  //     margin-top: 60px;
  //   }

  //   &:first-child {
  //     margin-top: 0;
  //   }
  // }


}
