@use '../base/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  &__copy {
    font-family: $main-en;
    padding-block: 1rem;
    background: $primary-color;
    color: #fff;
    text-align: center;
    @include sp {
      font-size: r(14);
    }
  }
}
